* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #0A0404;
  color: #bebdba;
}


.app {
  max-width: 430px;
  padding: 15px;
}


.textarea_input_text {
  background-color: transparent;
  color: #bebdba;
  width: 100%;
  font-size: 20px;
  border: none;
  outline: none;
}


.btn {
  padding: 15px 20px;
  background-color: transparent;
  border: 1px solid gray;
  color: #bebdba;
  margin-top: 10px;
  margin-bottom: 10px;
}


.morse_container {
  padding: 5px;
  width: 100%;
  height: 70vh;
  background-color: transparent;
  letter-spacing: 2px;
  overflow-y: scroll;
  font-size: 20px;
  /* border: 1px solid gray; */
}